<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Department Manager</title>
</head>
<body>
<div align="center">

    <a href="index.html">Employees</a>
    <a href="projects.html">Projects</a>
    <a href="#">Departments</a>

    <h1>Department List</h1>
    <a th:href="@{/departments/new}">Add New Department</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Department Number</th>
            <th>Department Name</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${listDepartments}">
            <td th:text="${department.deptNumber}">Department Number</td>
            <td th:text="${department.deptName}">Department Name</td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>